<%- include ../../partials/header.ejs %> <%- include ../../partials/navbar.ejs
%> <%- include ../../partials/sidebar.ejs %>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Blanko</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/blanko">Blanko</a></li>
            <li class="breadcrumb-item active">Ubah</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Form Ubah Blanko</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form action="/blanko/edit/<%= blanko._id %>?_method=PUT" method="POST">
              <div class="card-body">
                <!-- Input Jenis Cabai -->
                <div class="form-group">
                  <label>Jenis Cabai</label>
                  <select
                    class="form-control select2"
                    style="width: 100%"
                    name="jenisCabai"
                    required
                  >
                    <option selected="selected">Pilih Jenis Cabai</option>
                    <option value="cabaiMerahBesar" <% if(blanko.jenisCabai === 'cabaiMerahBesar'){%>
                      selected
                      <%} %>
                    >
                      Cabai Merah Besar</option>
                    <option value="cabaiMerahKeriting" <% if(blanko.jenisCabai === 'cabaiMerahKeriting'){%>
                      selected
                      <%} %>
                      >
                      Cabai Merah Keriting
                    </option>
                    <option value="cabaiRawitMerah"<% if(blanko.jenisCabai === 'cabaiRawitMerah'){%>
                      selected
                      <%} %>
                      >Cabai Rawit Merah
                    </option>
                  </select>
                </div>
                <!-- Input Luas Tanaman Akhir Bulan Lalu -->
                <div class="form-group">
                  <label for="luasTanamanAkhirBulanLalu"
                    >Luas Tanaman Akhir Bulan Lalu (Ha)</label
                  >
                  <input
                    type="number"
                    value="<%= blanko.luasTanamanAkhirBulanLalu %>"
                    name="luasTanamanAkhirBulanLalu"
                    class="form-control"
                    id="luasTanamanAkhirBulanLalu"
                    placeholder="Masukan Luas Tanaman Akhir Bulan Lalu"
                    required
                  />
                </div>
                <!-- Input Luas Panen Habis -->
                <div class="form-group">
                  <label for="luasPanenHabis"
                    >Luas Panen Habis / Dibongkar (Ha)</label
                  >
                  <input
                    type="number"
                    value="<%= blanko.luasPanenHabis %>"
                    name="luasPanenHabis"
                    class="form-control"
                    id="luasPanenHabis"
                    placeholder="Masukan Luas Panen Habis"
                    required
                  />
                </div>
                <!-- Input Luas Panen Belum Habis -->
                <div class="form-group">
                  <label for="luasPanenBelumHabis"
                    >Luas Panen Belum Habis (Ha)</label
                  >
                  <input
                    type="number"
                    value="<%= blanko.luasPanenBelumHabis %>"
                    name="luasPanenBelumHabis"
                    class="form-control"
                    id="luasPanenBelumHabis"
                    placeholder="Masukan Luas Panen Belum Habis"
                    required
                  />
                </div>
                <!-- Input Luas Rusak -->
                <div class="form-group">
                  <label for="luasRusak"
                    >Luas Rusak / Tidak Berhasil / Puso (Ha)</label
                  >
                  <input
                    type="number"
                    value="<%= blanko.luasRusak %>"
                    name="luasRusak"
                    class="form-control"
                    id="luasRusak"
                    placeholder="Masukan Luas Rusak"
                    required
                  />
                </div>
                <!-- Input Luas Penanaman Baru -->
                <div class="form-group">
                  <label for="luasPenanamanBaru"
                    >Luas Penanaman Baru / Tambah Tanam (Ha)</label
                  >
                  <input
                    type="number"
                    value="<%= blanko.luasPenanamanBaru %>"
                    name="luasPenanamanBaru"
                    class="form-control"
                    id="luasPenanamanBaru"
                    placeholder="Masukan Luas Penanaman Baru"
                    required
                  />
                </div>
                <!-- Input Luas Tanaman Akhir Bulan Laporan -->
                <div class="form-group">
                  <label for="luasTanamanAkhirBulanLaporan"
                    >Luas Tanaman Akhir Bulan Laporan (Ha)</label
                  >
                  <input
                    type="number"
                    value="<%= blanko.luasTanamanAkhirBulanLaporan %>"
                    name="luasTanamanAkhirBulanLaporan"
                    class="form-control"
                    id="luasTanamanAkhirBulanLaporan"
                    placeholder="Masukan Luas Penanaman Baru"
                    required
                  />
                </div>
                <!-- Input Produksi Dipanen Habis/Dibongkar -->
                <div class="form-group">
                  <label for="prodPanenHabis"
                    >Produksi Dipanen Habis / Dibongkar (Kwintal)</label
                  >
                  <input
                    type="number"
                    value="<%= blanko.prodPanenHabis %>"
                    name="prodPanenHabis"
                    class="form-control"
                    id="prodPanenHabis"
                    placeholder="Masukan Produksi Dipanen Habis / Dibongkar"
                    required
                  />
                </div>
                <!-- Input Produksi Belum Habis -->
                <div class="form-group">
                  <label for="prodBelumHabis"
                    >Produksi Belum Habis (Kwintal)</label
                  >
                  <input
                    type="number"
                    value="<%= blanko.prodBelumHabis %>"
                    name="prodBelumHabis"
                    class="form-control"
                    id="prodBelumHabis"
                    placeholder="Masukan Produksi Belum Habis"
                    required
                  />
                </div>
                <!-- Input Rata-rata harga Jual -->
                <div class="form-group">
                  <label for="rataHargaJual"
                    >Rata-rata Harga Jual per-Kilogram (Rupiah)</label
                  >
                  <input
                    type="number"
                    value="<%= blanko.rataHargaJual %>"
                    name="rataHargaJual"
                    class="form-control"
                    id="rataHargaJual"
                    placeholder="Masukan Rata-rata Harga Jual per-Kilogram"
                    required
                  />
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Simpan</button>
              </div>
            </form>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<%- include ../../partials/footer.ejs %> <%- include ../../partials/js.ejs %>
